body{
  background-color:gray
}



mark{
  background-color:gold
 
}

p1{
  background-color:white
}

p2{
  font-size:20px
}

li{
  font-size:23px
 
}

mark{
  font-size:25px
}

p3{
  font-size:20px
}


